language: android
jdk: oraclejdk8
notifications:
  email:
    - external-ci-notifications+android-card-form@getbraintree.com
sudo: true
android:
  components:
    - tools
    - tools
    - platform-tools
    - build-tools-27.0.3
    - android-27
before_install:
  - yes | sdkmanager --licenses "platforms;android-27"
script: ./gradlew clean lint test
after_success: ./deploy_snapshot.sh
