language: android
jdk: oraclejdk8
notifications:
  email:
    - external-ci-notifications+android-card-form@getbraintree.com
sudo: true
android:
  components:
    - tools
    - tools
    - platform-tools
    - build-tools-28.0.3
    - android-28
before_install:
  - yes | sdkmanager "platforms;android-28"
script: ./gradlew clean lint test
after_success: ./deploy_snapshot.sh
